.thebackground {
	position: fixed; 
	top: 0; 
	left: 0;  
  	width: 100%; 
  	height: 100%;
  	z-index:-9999;
}

#map {
	position: absolute; 
	top: 0; 
	left: 0;
  	width: 100%; 
  	height: 100%;
  	opacity: 0.85;
}

/* 
.thebackground img {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%;
	opacity: 0.35;
}
 */

#theNavBar {
	background-color: #6699ff;
	border-color: #7d94f7;
	font-family: "Helvetica Neue";
	text-align: center;
	font-size:16px;
}

.navbar-default {
    background-color: #6699ff;
    border-color: #7d94f7;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffcc66;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffcc66;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffcc66;
    background-color: #7d94f7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffcc66;
    background-color: #7d94f7;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffcc66;
    border-bottom-color: #ffcc66;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffcc66;
    border-bottom-color: #ffcc66;
}
.navbar-default .navbar-toggle {
    border-color: #7d94f7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7d94f7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

#logo{
	padding-right: 10px;
}

.modal-header, .modal-footer, .modal-header > .close{
      background-color: #6699ff;
      color:white;
      padding-top: 5px;
}

.modal-body textarea {
	resize: none;
}

#ContactForm{
	padding: 15px;
}

.form-group > label{
	color: #6699ff;
	font-size: 20px;
}

@-webkit-keyframes rotating{
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#OnTheProwl{
	width: 200px;
	height: 150px;
	-webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
  	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
  	animation: rotating 1s linear infinite;
}

/* Centers the loading image, update top & left to 0.5*height & 0.5*width respectively*/
#Loading{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -100px;
}

/* Code to force collapse the nav when it reaches a specific screen size*/
@media (max-width: 1000px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}

#PostTextArea{
	width: 100%;
    position = absolute;
 	resize: none;
}

#PostTextArea:focus{
	height: 12em;
}

#GrowlButton{
	height: 35px;
	margin:none;
    position = absolute;
	background-color:#6699ff;
	color:white;
	font-family: "Helvetica Neue";
	text-align: center;
	font-size:18px;
	text-align:center;
}

#post, #login {
	background-color: rgba(255, 255, 255, 0.85);
	border-style: solid;
    border-color: rgba(255, 255, 255, 1);
	border-radius:15px;
	padding: 25px;
}

#votes {
	text-align: center;
	font-size:22px;
	color: orange;
}

#vote:hover {
	cursor: pointer;
}

#postdate {
	font-size:10px;
}

#google {
	width: 85%;
}

