#theNavBar {
	background-color: #6699ff;
	border-color: #7d94f7;
	font-family: "Helvetica Neue";
	text-align: center;
	font-size:16px;
}

.navbar-default {
    background-color: #6699ff;
    border-color: #7d94f7;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffcc66;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffcc66;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffcc66;
    background-color: #7d94f7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffcc66;
    background-color: #7d94f7;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffcc66;
    border-bottom-color: #ffcc66;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffcc66;
    border-bottom-color: #ffcc66;
}
.navbar-default .navbar-toggle {
    border-color: #7d94f7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7d94f7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

#logo{
	padding-right: 10px;
}

.modal-header, .modal-footer, .modal-header > .close{
      background-color: #6699ff;
      color:white;
      padding-top: 5px;
}

#ContactForm{
	padding: 15px;
}

.form-group > label{
	color: #6699ff;
	font-size: 20px;
}
