<html>

	<head>
	<title>Pitt Yak</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /> 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="/static/script0001.js"></script>	
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>

	<body background="/pictures/zigzag.png">

	<nav class="navbar navbar-default" id="theNavBar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id="logo" href=""><img width="160" height="75" src="/pictures/prowler_logo.png"> </img></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavBar" background="ffffff">
				<ul class="nav navbar-nav">
					<li class=""><a href="#"> <span class="glyphicon glyphicon-chevron-up"></span> North Oakland</a></li>
					<li class=""><a href="#">Central Oakland</a></li>
					<li class=""><a href="#"><span class="glyphicon glyphicon-chevron-down"></span> South Oakland</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class=""><a href="#" data-toggle="modal" data-target="#AboutModal"> <span class="glyphicon glyphicon-question-sign"></span> About</a></li>
					<li class=""><a href="#" data-toggle="modal" data-target="#ContactModal"> <span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
					<li><a href="https://accounts.google.com/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					{% if user_email %}
					<li><a href="{{ logout_url }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					{% else %}
					<li><a href="{{ login_url }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	
	<div id="AboutModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">About</h2>
				</div>
				
				<div class="modal-body" style="text-align:justify">
					<p><em>Pitt Yak</em> is the best application known to man.</p>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="ContactModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">Contact</h2>
				</div>
				
				<div class="modal-body">
					<form id="ContactForm" action="contact" method="post" class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-xs-1" for="name"> <span class="glyphicon glyphicon-user"></span></label>
							<div class="col-xs-11">
								<input type="name" class="form-control" name="name" placeholder="What is your name?">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-1" for="email"> <span class="glyphicon glyphicon-envelope"></span></label>
							<div class="col-xs-11">
								<input type="email" class="form-control" name="email" placeholder="What is your email?">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-1" for="comment"><span class="glyphicon glyphicon-pencil"></span></label>
							<div class="col-xs-11">
								<textarea class="form-control" rows="5" name="comment" placeholder="Tell us what is on your mind!"></textarea>
							</div>
						</div>
				</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-default">Submit</button>
					</form>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="Loading"><img id="OnTheProwl" src="/pictures/prowler_head.png"> </img></div>
	
	<br><br>
	
	{% block bodycontent %}{% endblock %}
	
	</body>
	
</html>