{% extends "_base.html" %}
{% block bodycontent %}

{% for image in images %}
<a href="/image?id={{image.key.urlsafe}}"> <img src="\static\pictures\prowler_head.png" height="30" width="30"></a> {{image.count}} {% if image.count == 1 %}Point{% else %}Points{% endif %}   ||   {{image.comment_count}} {% if image.comment_count == 1 %}Comment{% else %}Comments{% endif %}
{% if user_email %}
<i>
{% if image.voted %}
<a href="/notdumb?id={{image.key.urlsafe}}"><span class="glyphicon glyphicon-thumbs-down"></span></a>
{% else %}
<a href="/dumb?id={{image.key.urlsafe}}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
{% endif %}
</i>
{% endif %}
<br>
{{ image.title }}<br> 
{% empty %}
There are no images.
{% endfor %}

{% endblock %}

