{% extends "_base.html" %}
{% block bodycontent %}

{% if user_email %}
<div class="container-fluid">
	<div class="row">
		<form class="form-inline" role="form" action="comment" method="post">
		  <div class="col-sm-6 col-sm-offset-3 col-xs-9 col-xs-offset-1">
			  <div class="form-group">
				<textarea id="PostTextArea" class="form-control" rows="1" cols="150" name="comment" placeholder="Whats on your mind?"></textarea>
			  </div>
		  </div>
		  <div class="col-sm-1 col-xs-1">
				<button type="submit" id="GrowlButton" class="btn btn-default">
					 <span class="glyphicon glyphicon-pencil"></span><br>
				</button>
		  </div>
		</form>
	</div>
</div>
{% endif %}

{% for post in posts %}
	<br><br><br>
	<div class="row">
		<div id="post" class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
			<div class="row">
				<div class="col-sm-11 col-xs-10">
					<p>
						{{ post.text }}
					</p>
					<br><br>
					<p>Posted on: {{post.time_created}}</p>
					<br>
					<a href="#" data-toggle="modal" data-target="#ReplyModal" data-post="{{post.key.urlsafe}}">
						<span class="glyphicon glyphicon-share">Reply</span>
					</a>
					{% if adminFlag %}
					<br>
					<form method='post' action='deletePost?id={{post.key.urlsafe}}'>
						<button type='submit' id='delete'> Delete </button>	
					</form>
					{% endif %}
				</div>
				<div id="votes" class="col-xs-1">
					{% if user_email %}
					<a onclick="updateVote('{{post.key.urlsafe}}','up')">
							{% if post.up_voted %}
							<span id = "postupvoted_{{post.key.urlsafe}}" class="glyphicon glyphicon-thumbs-up" style="color:green"></span>
							{% else %}
							<span id = "postupvoted_{{post.key.urlsafe}}" class="glyphicon glyphicon-thumbs-up" style="color:blue"></span>
							{% endif %}
					</a>
					<br>
					<p id='votecount_{{post.key.urlsafe}}'>{{post.vote_count}}</p>
					<a onclick="updateVote('{{post.key.urlsafe}}','down')">
							{% if post.down_voted %}
							<span id = "postdownvoted_{{post.key.urlsafe}}" class="glyphicon glyphicon-thumbs-down" style="color:red"></span>
							{% else %}
							<span id = "postdownvoted_{{post.key.urlsafe}}" class="glyphicon glyphicon-thumbs-up" style="color:blue"></span>
							{% endif %}
					</a>
					{% endif %}
				</div>
				
			</div>
		</div>
		
	</div>
	
	{% for sub in post.sub_comments %}
		<br>
		<div class="row">
			<div id="post" class="col-sm-6 col-sm-offset-4 col-xs-9 col-xs-offset-2">
				<div class="row">
					<div class="col-sm-11 col-xs-10">
						<p>
							{{ sub.text }}
						</p>
					</div>
					<div id="votes" class="col-xs-1">
						{% if user_email %}
						<a onclick="updateVote('{{sub.key.urlsafe}}','up')">
							{% if sub.up_voted %}
								<span id = "postupvoted_{{sub.key.urlsafe}}" class="glyphicon glyphicon-thumbs-up" style="color:green"></span>
							{% else %}
								<span id = "postupvoted_{{sub.key.urlsafe}}" class="glyphicon glyphicon-thumbs-up" style="color:blue"></span>
							{% endif %}
						</a>
						<br>
						<p id='votecount_{{sub.key.urlsafe}}'>{{sub.vote_count}}</p>
						<a onclick="updateVote('{{sub.key.urlsafe}}','down')">
							{% if sub.down_voted %}
								<span id = "postdownvoted_{{sub.key.urlsafe}}" class="glyphicon glyphicon-thumbs-down" style="color:red"></span>
							{% else %}
								<span id = "postdownvoted_{{sub.key.urlsafe}}" class="glyphicon glyphicon-thumbs-up" style="color:blue"></span>
							{% endif %}
						</a>
						{% endif %}
					</div>
					<br>
					<p>Posted on: {{sub.time_created}}</p>
					<br>
					{% if adminFlag %}
					<form method='post' action='deletePost?id={{sub.key.urlsafe}}'>
						<button type='submit' id='delete'> Delete </button>	
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	
	{% empty %}
	No posts yet !
{% endfor %}

<div id="ReplyModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-md">
		
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title">Reply</h2>
			</div>
			<div class="modal-body">
				<form id="ReplyForm" action="reply" method="post" class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-xs-1" for="reply"><span class="glyphicon glyphicon-pencil"></span></label>
						<div class="col-xs-11">
							<textarea class="form-control" rows="5" name="reply" placeholder="Say something!"></textarea>
						</div>
						<input id="PostId" type="hidden" name="id"></input> 
					</div>
			</div>
			
			<div class="modal-footer">
				<button type="submit" class="btn btn-default">Reply</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$('#ReplyModal').on('show.bs.modal', function (event) {
		var link = $(event.relatedTarget)
		var post = link.data('post')
		$("#PostId").val(post)
	})
	
function createXmlHttp() {
  var xmlhttp;
  if (window.XMLHttpRequest) {
    xmlhttp = new XMLHttpRequest();
  } else {
    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  if (!(xmlhttp)) {
    alert("Your browser does not support AJAX!");
  }
  return xmlhttp;
}
	
function postParameters(xmlHttp, target) {
  if (xmlHttp) {
    xmlHttp.open("GET",target,true);
    xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlHttp.send();
   }
}

function updateVote(postKey,state) {
  var xmlHttp = createXmlHttp();
  xmlHttp.onreadystatechange=function() {
    if(xmlHttp.readyState == 4) {
      	document.getElementById('votecount_'+postKey).innerHTML = xmlHttp.responseText
      	if (state=='down') {
      		document.getElementById("postdownvoted_"+postKey).style.color = "red";
      		document.getElementById("postupvoted_"+postKey).style.color = "blue";
      	}
      	if (state=='up') {
      		document.getElementById("postupvoted_"+postKey).style.color = "green";
      		document.getElementById("postdownvoted_"+postKey).style.color = "blue";
      	}
      }
  }
  postParameters(xmlHttp, "/vote?id=" + postKey + "&vote=" + state);
  
}		
</script>



{% endblock %}


